<div class="container">


    
    <div class="cab-projeto">
            Projetos
    </div>

    
    <div class="cab-tarefa">
        Tarefas
    </div>




    <aside>
        <ul>
            <li><button>Item 1</button></li>
            <li><button>Item 1</button></li>
            <li><button>Item 1</button></li>
            
        </ul>
    </aside>



    <main>

        <div class="table">
            <table>
                <thead>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Prazo</th>
                    <th>Tarefa Concluida</th>
                    <th>Editar</th>
                    <th>Excluir</th>

                </thead> 

                    <tr>
                        <td>ifpsum dolor sit amet</td>
                        <td>ifpsum dolor sit amet consectetur adipisicing elit. Consequu</td>
                        <td>No prazo</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>Editar</td>
                        <td>Excluir</td>

                    </tr>

                    <tr>
                        <td>Lucas</td>
                        <td>Teste desc</td>
                        <td>No prazo</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>Editar</td>
                        <td>Excluir</td>

                    </tr>
                    
                    
                    
                



            </table>
        </div>




    </main>


</div>